---
import Layout from "../layouts/Layout.astro";
import EventCard from "../components/EventCard.astro";

import f1events from "../data/formula1.json";
import wecevents from "../data/wec.json";
import imsaevents from "../data/imsa.json";
import wrcevents from "../data/wrc.json";
import motogpevents from "../data/motogp.json";
import MonthCard from "../components/MonthCard.astro";

const events = [
  ...f1events,
  ...wecevents,
  ...imsaevents,
  ...wrcevents,
  ...motogpevents,
];

events.sort((a, b) => {
  return new Date(a.dates.mainEvent) - new Date(b.dates.mainEvent);
});

let lastMonth = new Date("2025-01-01").getMonth();
---

<Layout>
  <main
    class="grid grid-cols-1 sm:grid-cols-2 md:mx-32 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 p-4 gap-8 place-items-center"
  >
    {
      events.map((event) => {
        const eventMonth = new Date(event.dates.mainEvent).getMonth();
        const monthName = new Date(event.dates.mainEvent).toLocaleString(
          "en-US",
          {
            month: "long",
          },
        );

        const isNewMonth = eventMonth !== lastMonth;

        if (isNewMonth) {
          lastMonth = eventMonth;
          return (
            <>
              <div class="flex col-span-full">
                <MonthCard monthName={monthName} />
              </div>
              <EventCard
                name={event.commonName}
                circuit={event.circuit}
                fullName={event.officialName}
                dates={event.dates}
                logo={event.logo}
              />
            </>
          );
        }

        return (
          <EventCard
            name={event.commonName}
            circuit={event.circuit}
            fullName={event.officialName}
            dates={event.dates}
            logo={event.logo}
          />
        );
      })
    }
  </main>
</Layout>
