---
import Layout from "../layouts/Layout.astro";
import EventCard from "../components/EventCard.astro";
import MonthCard from "../components/MonthCard.astro";
import { getSortedEvents } from "../utils/events.ts";
import { getMonthDetails } from "../utils/months.ts";

const events = getSortedEvents();
let lastMonth = -1;
---

<Layout>
  <main
    class="grid grid-cols-1 sm:grid-cols-2 md:mx-32 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 p-4 gap-8 place-items-center"
  >
    {
      events.map((event) => {
        const { month, monthName } = getMonthDetails(event.dates.mainEvent);

        event.id ??= "none";

        const isNewMonth = month !== lastMonth;
        const loadingType = month === 0 || month === 1 ? "eager" : "lazy";
        if (isNewMonth) {
          lastMonth = month;

          return (
            <>
              <div id={monthName.toLowerCase()} class="flex col-span-full">
                <MonthCard monthName={monthName} loading={loadingType} />
              </div>

              <EventCard
                id={event.id}
                name={event.commonName}
                circuit={event.circuit}
                fullName={event.officialName}
                dates={event.dates}
                logo={event.logo}
                location={event.location}
                loading={loadingType}
              />
            </>
          );
        }

        return (
          <EventCard
            id={event.id}
            name={event.commonName}
            circuit={event.circuit}
            fullName={event.officialName}
            dates={event.dates}
            logo={event.logo}
            location={event.location}
            loading={loadingType}
          />
        );
      })
    }
  </main>
</Layout>

<script is:inline>
  window.addEventListener("DOMContentLoaded", () => {
    const monthNames = [
      "january",
      "february",
      "march",
      "april",
      "may",
      "june",
      "july",
      "august",
      "september",
      "october",
      "november",
      "december",
    ];

    const currentMonthIndex = new Date().getMonth();
    const currentMonthId = monthNames[currentMonthIndex];

    const targetDiv = document.getElementById(currentMonthId);

    if (targetDiv) {
      targetDiv.scrollIntoView({
        behavior: "smooth",
        block: "start",
      });
    } else {
      console.warn(`No element found with id="#${currentMonthId}"`);
    }
  });
</script>
