---
import Layout from "../layouts/Layout.astro";
import f1Events from "../data/formula1.json";
import { Image } from "astro:assets";

const f1Logo = `/The-Motorsport-Calendar/logos/f1.webp`;

const { id } = Astro.params;

export function getStaticPaths() {
  const paths = f1Events.map((item) => ({
    params: { id: item.id },
  }));

  return paths;
}

const eventData: RaceEvent = f1Events.find((el) => el.id === id)!;
const rawDates: EventDates = eventData.dates;

const dates = {
  practices: rawDates.practices.map((dateStr) => new Date(dateStr)),
  qualys: rawDates.qualys.map((dateStr) => new Date(dateStr)),
  races: rawDates.races.map((dateStr) => new Date(dateStr)),
};

const options: Intl.DateTimeFormatOptions = {
  weekday: "short",
  month: "short",
  day: "2-digit",
};
---

<Layout transition:name={id}>
  <main class="grid place-items-center gap-2">
    <Image
      src={f1Logo}
      alt={`F1 Logo`}
      width={350}
      height={1}
      inferSize={true}
    />
    <h1 class="text-3xl font-bold">{eventData?.commonName}</h1>

    <div class="flex">
      <section class="bg-white rounded p-4">
        <h2 class="text-2xl">Practice Sessions:</h2>
        {
          dates.practices.map((el) => (
            <p>{el.toLocaleDateString("en-US", options)}</p>
          ))
        }
      </section>

      <section class="bg-yellow-200 rounded p-4">
        <h2 class="text-2xl">Qualy(s):</h2>
        {
          dates.qualys.map((el) => (
            <p>{el.toLocaleDateString("en-US", options)}</p>
          ))
        }
      </section>

      <section class="bg-red-400 rounded p-4">
        <h2 class="text-2xl font-semibold">Race(s):</h2>
        <p class="text-xl font-light">
          {
            dates?.races.map((el) => (
              <p>{el.toLocaleDateString("en-US", options)}</p>
            ))
          }
        </p>
      </section>
    </div>
    <h2 class="text-2xl font-light m-4">
      {eventData?.circuit}
      <span class="italic"> - {eventData?.location} </span>
    </h2>
    <h2 class="text-m italic p-2">{eventData?.officialName}</h2>
  </main>
</Layout>
