---
import { Image } from "astro:assets";

const { name, fullName, circuit, dates, logo } = Astro.props;

const { mainEvent } = dates;

const mainEventDate = new Date(mainEvent);

const imagePath = `/The-Motorsport-Calendar/logos/${logo}.webp`;

const monthName = mainEventDate.toLocaleString("en-US", { month: "short" });
const day = mainEventDate.toLocaleString("en-US", { day: "2-digit" });
---

<div class="rounded w-full max-w-64 overflow-hidden shadow-lg h-full">
  <a href="#"></a>
  <div class="relative aspect-square hover:cursor-pointer">
    <Image
      class="w-full h-full object-contain"
      src={imagePath}
      alt={`${logo} logo`}
      width={400}
      height={400}
      inferSize={true}
      loading={"lazy"}
    />
    <div
      class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"
    >
    </div>
    <div
      class="text-sm absolute top-0 right-0 bg-indigo-600 px-4 text-white rounded-full h-16 w-16 flex flex-col items-center justify-center mt-3 mr-3 hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out"
    >
      <span class="font-bold">{day}</span>
      <small>{monthName}</small>
    </div>
  </div>
  <div class="px-6 py-4">
    <a
      href="#"
      class="font-semibold text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out"
      >{name}</a
    >
    <p class="text-gray-500 text-sm min-h-16 max-w-48">
      {fullName}
    </p>
  </div>
  <div class="px-6 py-1 flex flex-row items-center">
    <p>{circuit}</p>
  </div>
</div>
