---
import { Image } from "astro:assets";
import pinSvg from "../assets/pin.svg";
import circuitSvg from "../assets/circuit.svg";
import CalendarLink from "./CalendarLink.astro";

const { id, name, fullName, circuit, dates, logo, location, loading } =
  Astro.props;

const { mainEvent } = dates;

const mainEventDate = new Date(mainEvent);
const today = new Date();

const diffInMillis = mainEventDate - today; //
const diffInDays = Math.floor(diffInMillis / (1000 * 60 * 60 * 24));

const imagePath = `/The-Motorsport-Calendar/logos/${logo}.webp`;

const monthName = mainEventDate.toLocaleString("en-US", { month: "short" });
const day = mainEventDate.toLocaleString("en-US", { day: "2-digit" });
---

<article
  transition:name={id}
  class="bg-white rounded w-full max-w-64 overflow-hidden shadow-lg h-full"
>
  <div class="flex items-center justify-around bg-zinc-800 text-white">
    <p class="text-lg font-semibold m-1">
      {monthName}
      {day}
    </p>
    <CalendarLink title={name} date={mainEvent} />
    <p
      class="text-lg font-semibold m-1 js-event-countdown"
      data-event-date={mainEvent}
    >
      Loading...
    </p>
  </div>
  <div class="relative aspect-square bg-gray-500/10">
    <Image
      class="w-full h-full object-contain"
      src={imagePath}
      alt={`${logo} logo`}
      width={400}
      height={400}
      inferSize={true}
      loading={loading}
    />
  </div>

  <div class="px-6 pt-2">
    <a href={`/The-Motorsport-Calendar/race-${id}`}>
      <h3 class="font-bold text-2xl inline-block mb-1">{name}</h3>
      <p class="text-gray-500 text-sm min-h-16 max-w-48">
        {fullName}
      </p>
    </a>
  </div>

  <section class="flex flex-col justify-between">
    {
      circuit && (
        <div class="px-6 py-1 flex items-start">
          <Image
            src={circuitSvg}
            alt="circuit svg"
            width="16"
            loading={loading}
          />
          <p class="px-1 ">{circuit}</p>
        </div>
      )
    }
    {
      location && (
        <div class="px-5 flex items-start text-gray-500">
          <Image src={pinSvg} alt="pin svg" width="20" loading={loading} />
          <p class="px-1 mb-4">{location}</p>
        </div>
      )
    }
  </section>
</article>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const countdownEls = document.querySelectorAll(".js-event-countdown");

    countdownEls.forEach((el) => {
      const eventDate = new Date(el.dataset.eventDate);
      const today = new Date();

      eventDate.setHours(0, 0, 0, 0);
      today.setHours(0, 0, 0, 0);

      const diffInMillis = eventDate - today;
      const diffInDays = Math.floor(diffInMillis / (1000 * 60 * 60 * 24));

      if (diffInDays > 0) {
        el.textContent = `In ${diffInDays}d`;
      } else {
        el.textContent = "Finished";
      }
    });
  });
</script>
