---
import { Image } from "astro:assets";
import pinSvg from "../assets/pin.svg";
import circuitSvg from "../assets/circuit.svg";

const { name, fullName, circuit, dates, logo, location, loading } = Astro.props;

const { mainEvent } = dates;

const mainEventDate = new Date(mainEvent);

const imagePath = `/The-Motorsport-Calendar/logos/${logo}.webp`;
//const imageRawPath = `https://raw.githubusercontent.com/v1nte/The-Motorsport-Calendar/refs/heads/main/public/logos/${logo}.webp`;

const monthName = mainEventDate.toLocaleString("en-US", { month: "short" });
const day = mainEventDate.toLocaleString("en-US", { day: "2-digit" });
---

<div class="bg-white rounded w-full max-w-64 overflow-hidden shadow-lg h-full">
  <div class="flex flex-col items-center bg-zinc-800 text-white">
    <p class="text-lg font-semibold m-1">
      {monthName} - {day}
    </p>
  </div>
  <div class="relative aspect-square bg-gray-500/10">
    <Image
      class="w-full h-full object-contain"
      src={imagePath}
      alt={`${logo} logo`}
      width={400}
      height={400}
      inferSize={true}
      loading={loading}
    />
  </div>

  <div class="px-6 pt-2">
    <h3 class="font-bold text-2xl inline-block mb-1">{name}</h3>
    <p class="text-gray-500 text-sm min-h-16 max-w-48">
      {fullName}
    </p>
  </div>

  <section class="flex flex-col justify-between">
    {
      circuit && (
        <div class="px-6 py-1 flex items-start">
          <Image
            src={circuitSvg}
            alt="circuit svg"
            width="16"
            loading={loading}
          />
          <p class="px-1 ">{circuit}</p>
        </div>
      )
    }
    {
      location && (
        <div class="px-5 flex items-start text-gray-500">
          <Image src={pinSvg} alt="pin svg" width="20" loading={loading} />
          <p class="px-1 mb-4">{location}</p>
        </div>
      )
    }
  </section>
</div>
